body{
    background-color: #dddcdc66;
}
#kcpanmain{
    margin: auto;
    height: 400px;
    width: 45%;
    margin-left: 5%;
}
#kcnotelogo{
    width: 8%;
    text-align: center;
    font-size: 13px;
    margin-left: 4%;
    margin-top: -20px;
    background-color: white;
    color: gray;
}
#kcpannote{
    height: 13%;
    font-size: 16px;
    padding: 2%;
    margin-top: -1%;
    border: 1px solid rgb(182, 182, 182);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#kcpannum{
    margin: auto;
    width: 92%;
    height: 30%;
    background-color: white;
    border-radius: 3%;
    padding: 4%;
    margin-top: 5%;
}
#kcpannum>input{
    height: 20%;
    width: 80%;
}
#kcmand{
    width: 100%;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: end;
    font-style: italic;
}
#pannumberdiv{
    height: 40%;
    width: 100%;
    margin-top: 2%;
}
#kcpannum>#pannumberdiv>#pannumber{
    height: 90%;
    width: 98%;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5%;
    padding-left: 1%;
}
#pancheckdiv{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 14px; */
}
#pancheckdiv>lable{
    color: #666666;
}
#pancheckdiv>a{
    color: #008ECC;
}
#kcconfirm{
    height: 10%;
    width: 50%;
    background-color: #008ECC;
    color: white;
    border-radius: 3%;
    margin-top: 5%;
    border: 0px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}