#footer,footer{
    width:100%;;
    background-color: #e5e7e6;
    color: #777777;
    
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    
	
}

#footer-div h2{
	font-size: 15px;
	color: #333333;
	
}
#footer-div p{
	font-size: 15px;
	margin-bottom: 7px;
    

}
#footer-div a{
	text-decoration: none;
	color:#888888 ;
	
}
#footer-div div{
	line-height: 1.05;
    /* ; */
}
#footer-div div h2:first-child{
	margin-bottom: 10px;
}
#footer-bottom p{
	margin-bottom: 10px;

}
#footer-div{
  
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
	font-size: 18px;
	margin-bottom: 40px;
}
#footer-email{
    width: 24px;
    height: 24px;
}

#footer-bottom{
    width: 80%;
    margin: auto;
}
#ft{
    margin-left:90px ;
}
#f{
    border-left:2px solid rgb(216, 213, 213);
    
}
#pic>img{
    height:10%;
    width:40%;
    margin-left:20px ;

}
.lbl{
    color:#008ecc;
}
#f>h2,#f>p,#f>h5{
    margin-left:20px ;
}
hr{
    width:100%;
    border:1px solid rgb(202, 202, 202);
    
}