#img{
    width: 100%;
    margin-top: 200px;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    gap: 80px;
    text-align: center;
    margin-top: 50px;
    
}
#container>div{
 height: 300px;
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: white;
}

#container>div>div{
    width: 80%;
    height: 30px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    border: 0px;
    background-color: rgb(1, 179, 238);
    border-radius: 10px;
}
#container>div>div>button{
    background-color:  rgb(1, 179, 238);
    border: 0px;
    margin-left: 6px;
    color: white;
}
#container>div>div>h1{
    margin-top: -6px;
    margin-right: 10px;
    color: white;
}

#sort{
    display: flex;
   justify-content: right;
   gap: 50px;
   margin-top: 20px;
}
#sort>button{
    border: 0px;
    background-color: white;
    border-radius: 1px;
}
body{
    background-color: rgb(225, 233, 241);
}